.container {
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    position: relative;
    justify-content: center;
}

.main {
    color: #333;
    font-size: 24px;
    margin: 16px;
}

.secondary {
    color: #8f8f8f;
    font-size: 16px;
}

.fa-solid {
    color: #F7965E;
    margin: 1rem;
    padding: 2rem;
}

.fa-solid:hover {
    color: #F7695E;
}